@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html  {
    position: relative;
    min-height: 100%;
}

body {

    margin: 0 0 100px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

.test {
    color: #403f4c;
    font-size: 550%;
    padding-top:5%;
    width:100%;
}

.city-header {
    color: gray;
    font-size: 300%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
}

.about {
  color: gray;
  font-size: 200%;
  text-align: center;
  position: relative;
  padding-top: 5%;
}

h2 {
    color: black;
    font-size: 100%;
    margin: 0;
    width:600px;
}

h3 {
    color: black;
    font-size: 300%;
    margin: 0;
    width:600px;
}

.img01{
  float:left;
  margin-left:675px;
}

video::-webkit-media-controls {
  display: none !important;
}

table {
    color: black;
    font-size: 100%;
    position: relative;
    width:100%; 
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    border-spacing: 5px;
    text-decoration: none;
}

#blank {
    background-color: #FFFFFF;
    width: 100%;
    height:100px;
}

footer {
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 130px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}

.navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);
    border: 0px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}
.main-nav {
    list-style-type: none;
}
.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}
.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
        float: none;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
    .logo {
        margin-top: 0;
    }
   .navbar-toggle {
       display: none;
    }
    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
    #footer{
    visibility: hidden;
    display: none;
  }
}


input[type=text] {
  width: 600px;
  color: #403f4c;
  font-size:100%;  
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background: transparent;
  border:0;
  border-bottom: 1px solid;
  border-bottom-color: #403f4c;
}

input[type=text]:focus {
  width: 35%;
}

*:focus {
    outline: none;
}

input[type=topsearch] {
  width: 100px;
  color: #403f4c;
  font-size:100%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;  
  background: transparent;
  border: 1px solid;
  border color: #403f4c;
  float: right;
  display: block;
}

input[type=topsearch]:focus {
  width: 10%;
}

.topsearchbar {
  padding-top: 19px;
}


